[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
transformers = "*"
torch = "*"
torchdata = "*"
evaluate = "*"
rouge-score = "*"
loralib = "*"
peft = "*"

[dev-packages]

[requires]
python_version = "3.11"
